<p>Hi <%= @user.bill_address&.name || 'Customer' %>!</p>
<br>
<p>This is a friendly reminder that your <%= @subscription.name %> subscription is going to renew automatically on <%= @subscription.actionable_date %>.  If you'd like to cancel your plan, please do so from the <a href="https://<%= @store.url %>/account">My Account page</a>.</p>
<br>
<p>Please reach out to us if you have any further questions.</p>
<p>Thank you!</p>
<p><%= @store.name %> Support</p>
